* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  height: 100px;
  width: 100%;
  background-color: #ffc0cb;
}

.main{
  height: 1500px;
  background-color: #fff0f5;
  display: flex;
  justify-content: center;
}

.nav-list{
  margin: 50px;
  list-style: none;
  display : inline-block;
}

a{
  text-decoration: none;
}

.footer{
  height: 50px;
}