* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  height: 100px;
  width: 100%;
  background-color: #ffc0cb;
}

.main{
  height: 1000px;
  background-color: #fff0f5;
  display: flex;
  justify-content: center;
}

.nav-list{
  margin: 50px;
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.main-title{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.main-text1{
  writing-mode: vertical-rl;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 50px;
}

.main-text2{
  writing-mode: vertical-rl;
  font-size: 30px;
  font-weight: bolder;
  transform: rotate(-180deg );
  margin-bottom: 250px;
}

.main-text3{
  font-size: 25px;
  font-weight: bolder;
}

.introduce-img{
  height: 700px;
  width: 500px;
  border: double 10px #000;
}

.footer{
  height: 50px;
}