* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  height: 50px;
  width: 100%;
  background-color: #ffff00;
}

.top{
  height: 1000px;
  display: flex;
  justify-content: center;
  background-color: #fff0f5;
}


.nav-list{
  margin: 30px;
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.main-title{
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin: 50px;
  font-family: Impact;
}

.main-text1{
  writing-mode: vertical-rl;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 100px;
}

.main-text2{
  writing-mode: vertical-rl;
  font-size: 30px;
  font-weight: bolder;
  transform: rotate(-180deg );
  margin-bottom: 250px;
}

.main-text3{
  font-size: 25px;
  font-weight: bolder;
}

.introduce-img{
  height: 700px;
  width: 500px;
  border: double 10px #000;
}

.title{
  margin: 30px;
  text-aligin: center;
  font-family: Impact;
}

.bottom{
  background-color: #f5f5f5
}

.work{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

span{
  background:linear-gradient(transparent 60%, #ffff00 60%);
}

.work-img{
  height: 300px;
  width: 400px;
  margin: 30px 30px;
  overflow:hidden;
}

.work-img:hover{
  transform:scale(1.2,1.2);
  transition:0.8s all;
}

.skill{
  display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 50px 10px;
}

.skill-name{
  color: #808080;
  font-size: 25px;
  padding: 10px;
}

.card-item{
  width: 15%;
	height: 200px;
	background-color: #ffffff;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
	margin: 50px 30px;
	border-radius: 15px;
}

.card-item:hover {
  transition: transform 0.8s;
  transform: rotateY(360deg);
}

img{
  height: 50px;
  width: 50px;
  margin: 30px 80px;
}

.output{
  display: flex;
  justify-content: center;
}

.circle-1,
.circle-2{
  width: 500px;
  height: 300px;
  margin: 0 -15px;
  mix-blend-mode: multiply;
}

.circle-1 {
  background: #ffff00;
  border-radius: 100% 60% 50% 30%/40% 50% 100% 100%;
}
.circle-2 {
  background: #ffc0cb;
  border-radius: 80% 30% 50% 50%/50%;
  margin-top: 30px;
}

.output{
  color: #191970;
  text-align: center;
}

.output2{
  margin-top: 50px;
}

.footer{
  height: 50px;
}