* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  height: 50px;
  width: 100%;
  background-color: #ffff00;
}

.top{
  height: 1000px;
  display: flex;
  justify-content: center;
  background-color: #fff0f5;
}


.nav-list{
  margin: 30px;
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.main-title{
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin: 50px;
  font-family: Impact;
}

.main-text1{
  writing-mode: vertical-rl;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 100px;
}

.main-text2{
  writing-mode: vertical-rl;
  font-size: 30px;
  font-weight: bolder;
  transform: rotate(-180deg );
  margin-bottom: 250px;
}

.main-text3{
  font-size: 25px;
  font-weight: bolder;
}

.introduce-img{
  height: 700px;
  width: 500px;
  border: double 10px #000;
}

.title{
  margin: 30px;
  text-aligin: center;
  font-family: Impact;
}

.work{
 display: flex;
 justify-content: center;
}

span{
  background:linear-gradient(transparent 60%, #ffff00 60%);
}

.work-img{
  height: 300px;
  width: 400px;
  border: solid 2px #000;
  margin: 0 30px;
}

.skill{
  margin: 30px;
}

img{
  height: 50px;
  width: 50px;
  margin: 0 20px;
}

.footer{
  height: 50px;
}