* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  margin: 50px;
  display: flex;
}

.header{
  height: 50px;
  width: 100%;
  background-color: #ffff00;
}
  
.work{
  height: 600px;
  width: 800px;
  border: solid 1px #000;
  margin-left: 20px;
}

h2{
  background-color: #000;
  color: #fff;
}

.left{
  width: 40%;
  height: auto;
}

.point{
  margin-top: 30px;
}